<section>
	<h1>Multi-User Spreadsheet Demo</h1>
	<p>
		This web application combines Rails 5.0 ActionCable with RethinkDB and the NoBrainer
		gem to power a multi-user WebSockets driven spreadsheet.
	</p>
</section>

<section id="active_users">
	<h2>Active users</h2>
	<ul id="active_users_list">
	</ul>
</section>
