// Place all the styles related to the spreadsheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 2em 2em;
  display: flex;
  flex-flow: row wrap;
  background-color: #eeeeee;
}

section {
	background-color: #ffffff;
	padding: 1em;
	margin: .3em;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

h2 {
}

@mixin colored-border($color) {
	box-shadow:inset 0px 0px 0px 2px $color;
}

#introduction {
	 width: 100%;
	 background-color: #3E50B4;
	 color: #fff;
}

#active_users {
	width: 14em;
	order: 3;
}

#spreadsheet {
	flex-grow: 1;
	order: 2;
	padding: 0;
	overflow: hidden;
	height: 30em;
}

.user-1 { @include colored-border(#33a02c);}
.user-2 { @include colored-border(#e31a1c);}
.user-3 { @include colored-border(#ff7f00);}
.user-4 { @include colored-border(#6a3d9a);}
.user-5 { @include colored-border(#b15928);}
.user-6 { @include colored-border(#a6cee3);}
.user-7 { @include colored-border(#b2df8a);}
.user-8 { @include colored-border(#fb9a99);}
.user-9 { @include colored-border(#fdbf6f);}
.user-10 { @include colored-border(#cab2d6);}
.user-11 { @include colored-border(#ffff99);}
.user-12 { @include colored-border(#1f78b4);}
